*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #e5e7eb;
    color: #333;
    margin: 0;
    padding: 0;
}


header{
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

main{
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

section{
    margin-bottom: 2.5rem;
}

h1{
    margin-bottom: 0.5rem;
}

p{
    max-width: 700px;
}

h2{
    margin-bottom: 1.5rem;
    color: #222;
}

.highlight{
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
}

a{
    color: #0066cc;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


footer{
    padding: 1.5rem;
    background-color: #ffffff;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    margin-bottom: 0.5rem;
}

