*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #ffffff;
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;
}