*{
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

p{
    color:black;
}



.highlight {
    padding: 20px;
    border: 4px solid #ddd;
    border-radius: 25px;
    
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    padding: 1.5rem 0;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 4px solid #ddd;
    border-radius: 20px;
}


main{
    padding: 2rem 1rem;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    nav ul{
        justify-content: center;
        flex-wrap: wrap;
    }
}
